.well {
	background-color: black;
	color:white;
}

.nodeImg {
	display:inline;
}

.btn-info {
	background-color:YellowGreen;
	border-color:YellowGreen;
}

#nodelogo {
    background-color:black;
    height:100px;
    width:auto;
    display:inline;
}
.header {
    display:inline;
}