.well-md {
	background-color: black;
	color:white;
}

.nodeImg {
	display:inline;
}

.btn-info {
	background-color:YellowGreen;
	border-color:YellowGreen;
}

#nodelogo {
    background-color:black;
    height:100px;
    width:auto;

}
.header > div{

    color:white;
    background-color:black;
}

.pageTitle {
    margin-left:1em;
}

